<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>marvel</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body>
    <div id="contenedor">
      <div class="demo-layout-transparent mdl-layout mdl-js-layout"  v-bind:style="{background: 'url('+ heroeSelect.imgPath+')' +'center / cover' }">
        <header
          class="
            mdl-layout__header mdl-layout__header--transparent
            marginTop_header
          "
        >
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
              <img class="logo_img" src="assets/img/logo.png" />
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Heroes Antiguos</a>
              <a class="mdl-navigation__link" href="">¿Como Funciona?</a>
              <a class="mdl-navigation__link" href="">Iniciar Sesion</a>
              <a class="mdl-navigation__link" href="">
                <span class="material-icons"> search </span>
              </a>
            </nav>
          </div>
          
          <div class="header_infoHeroe">
            <div class="contenedorInfohero">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <h8 class="font_light">Dinos tu opinión sobre</h4>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" >
                        <div class="font_regular titulo_infoHero"  v-if="cambio===true">{{heroeSelect.nombre}}?</div>
                        <div class="font_regular "  v-else>
                         <div class="votoRecibido mdl-grid">
                                <div class="iconvoto" v-bind:class="{positivo : tipoVoto, 'negativo': !tipoVoto}" >
                                    <span  class="material-icons font_iconHeaderinfo" v-if="tipoVoto===true"> thumb_up </span>
                                    <span  class="material-icons font_iconHeaderinfo" v-else> thumb_down </span>
                                </div>
                                <div class="font_regular" style="font-size:19px !important; padding-top: 21px; margin-left: 15px;" >Tu voto<br>ha sido registrado!</div>
                         </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col space_infoHero">
                        <p class="font_light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

                        <a  href="#" class="font_light color_blanco" v-if="cambio===true"> <span class="material-icons"> library_books </span> Más información </a>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col " v-if="cambio===true">
                        <h8 class="font_bold">¿Cuál es tu voto?</h4>
                    </div>
                </div>

              <div class="infoheroAction" v-if="cambio===true">
                <div v-on:click="like(heroeSelect.index)" class="likebutton">
                  <span  class="material-icons font_iconHeaderinfo"> thumb_up </span>
                </div>
                <div v-on:click="dislike(heroeSelect.index)" class="dislikebutton">
                  <span class="material-icons font_iconHeaderinfo"> thumb_down </span>
                </div>
              </div>
              <div class="content_btnborder" v-else>
                    <button v-on:click="votar()" class="boton-border">
                            << volver a votar
                    </button>
              </div>
            </div>
          </div>


          <div class="infoVotacionhero">
                <content-votacion v-bind:likes=this.heroeSelect.likes v-bind:dislikes=this.heroeSelect.dislikes ></content-votacion>
          </div>


        </header>
        
      </div>
      <div class=" contenedor_general">
        <div class="mdl-grid">
          <div class=" mdl-cell--1-offset mdl-cell mdl-cell--10-col">
              <div class="alerta">
                  <p class="font_light" style="font-size: 18px; margin:8px;"> Lorem Ipsum. Dolor <br> <strong class="font_bold" style="font-size: 30px;">IP lorem ip.</strong></p>
                  <p class="font_light" style="font-size: 12px;width: 70%;margin:8px;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</p>
                      <span class="material-icons font_iconHeaderinfo" style="margin:8px;color:#a1a1a1"> clear </span>
              </div>

          </div>

        </div>
        <div class="mdl-grid">
          <div class=" mdl-cell--1-offset mdl-cell mdl-cell--10-col">
              <h4 class="font_light titulo_infoHero" >Super Heroes Anteriores</h4>
          </div>
        </div>
        <div class="mdl-grid">
          
        </div>
        <div class="mdl-grid center">
            <div class="contenedor_heroes" >
                <box-desc  v-for="(heroe, indice) in lista"
                v-bind:nombre=heroe.nombre
                v-bind:likes=heroe.likes 
                v-bind:dislikes=heroe.dislikes 
                v-bind:index=indice 
                v-bind:img=heroe.imgthumb>

                </box-desc>
            </div>
        </div>

        <div class="mdl-grid center" >
            <div class=" mdl-cell--1-offset mdl-cell mdl-cell--10-col" style=" border:1px; border-style: dashed none none none;" >
                <div class="contenedor_footer">
                    <div class="ft_left">
                        <div class="font_light">Terminos y condiciones</div>
                        <div class="font_light">Politicas de trantamiento de datos</div>
                        <div class="font_light">Contactanos</div>
                    </div>
                    <div class="ft_right">
                        <div class="font_light">Siguenos</div>
                        <div > <img src="https://img.icons8.com/material/24/000000/facebook-new.png"/> </div>
                        <div > <img src="https://img.icons8.com/material/24/000000/twitter-squared.png"/> </div>
                    </div>    
                </div>        
            </div>
            
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="assets/js/bundle.js"></script>
</html>
