.demo-layout-transparent {
  /*background: url("../img/iron.jpg") center / cover;*/
  -webkit-box-shadow: inset 3px 150px 54px -12px rgba(0, 0, 0, 0.6) !important;
  box-shadow: inset 3px 150px 54px -12px rgba(0, 0, 0, 0.6) !important;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.mdl-layout {
  height: 624px !important;
  top: 0 !important;
}

.mdl-layout__container {
  top: 0 !important;
}

.font_light {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
}

.font_regular {
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
}

.font_bold {
  font-family: "Lato", sans-serif !important;
  font-weight: 700 !important;
}

.color_blanco {
  color: white !important;
}

.contenedor_general {
  margin-top: 48rem;
  background-color: white;
}

.logo_img {
  width: 80%;
}

.marginTop_header {
  margin-top: 2rem;
}

.header_infoHeroe {
  width: 400px;
  height: 400px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  top: 140px;
  position: absolute;
  left: 6%;
}

.header_infoHeroe > .contenedorInfohero {
  z-index: 100;
  width: inherit;
  height: inherit;
  position: absolute;
}

.header_infoHeroe > .contenedorInfohero > .infoheroAction {
  position: fixed;
  height: 80px;
  bottom: 0px;
  width: inherit;
}

.header_infoHeroe > .contenedorInfohero > .infoheroAction > .likebutton {
  position: fixed;
  height: inherit;
  background-color: #00ada4;
  width: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.header_infoHeroe > .contenedorInfohero > .infoheroAction > .likebutton:hover {
  background-color: #038079;
}

.font_iconHeaderinfo {
  font-size: 34px;
}

.titulo_infoHero {
  font-size: 54px !important;
  text-transform: capitalize;
}

.space_infoHero {
  margin-top: 16px !important;
}

.iconvoto {
  width: 80px;
  height: 80px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.positivo {
  background-color: #038079;
}
.negativo {
  background-color: #ffa300;
}

.header_infoHeroe > .contenedorInfohero > .infoheroAction > .dislikebutton {
  position: fixed;
  height: inherit;
  background-color: #ffa300;
  width: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}
.content_btnborder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boton-border {
  width: 160px;
  height: 50px;
  background-color: transparent;
  border: 2px solid;
  color: white;
  cursor: pointer;
}

.header_infoHeroe
  > .contenedorInfohero
  > .infoheroAction
  > .dislikebutton:hover {
  background-color: #d68800;
}

.infoVotacionhero {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 41rem;
  overflow: hidden;
}

.contenedorVoto {
  width: 100%;
  height: 100%;
  display: flex;
}

.contenedorVotocard {
  width: 100%;
  height: 48px;
  display: flex;
}

.contenedorVoto > .contentlike {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #00ada4b9;
  color: white;
  justify-content: end;
}

.contenedorVoto > .contentdislike {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffa300b9;
  color: white;
  justify-content: start;
}

.contenedorVoto > .contentlike > div {
  margin-right: 10px;
}

.contenedorVoto > .contentlike > span {
  margin-right: 10px;
}

.contenedorVoto > .contentdislike > span {
  margin-left: 10px;
}

.contenedorVoto > .contentdislike > div {
  margin-left: 10px;
}

.alerta {
  background-color: #ececec;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_infoHeroe {
  width: 434px;
  height: 501px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  left: 6%;
}

.contentinfoHero {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.contenedorInfohero_card {
  z-index: 100;
  width: inherit;
  height: inherit;
  position: absolute;
  -webkit-box-shadow: inset 0px -250px 30px -59px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px -250px 30px -59px rgba(0, 0, 0, 0.7);
}
.contenedorVotocard > .contentlike_card {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #00ada4b9;
  color: white;
  justify-content: space-between;
}

.contenedorVotocard > .contentdislike_card {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffa300b9;
  justify-content: space-between;
  color: white;
}

.contenedorVotocard > .contentlike_card > div {
  margin-right: 10px;
}

.contenedorVotocard > .contentlike_card > span {
  margin-left: 10px;
}

.contenedorVotocard > .contentdislike_card > span {
  margin-right: 10px;
  margin-left: 10px;
}

.contenedorVotocard > .contentdislike_card > div {
  margin-left: 10px;
}

.posicion_card {
  position: absolute;
  bottom: 49px;
}

.iconvoto_card {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 8px;
  color: white;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailinfohero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor_heroes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  align-items: center;
  justify-items: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.ft_left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.ft_left > div {
    cursor: pointer;
  margin-right: 10px;
}
.ft_right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.ft_right > div {
    cursor: pointer;
  margin-right: 10px;
}
